<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://use.typekit.net/fod0bmg.css">

    <title>Lone Star Trash | Your mum's favourite trash company</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <style>
      html {
        height: 100vh;
        overflow: scroll;
      }
      #main {
        background: url('https://cdn.shopify.com/s/files/1/0644/4292/5253/files/BG_Optimized.jpg?v=1710876527');
        background-repeat: no-repeat;
      }
      @media (min-width: 769px) {
        #main {
          height: 100vh;
          display: flex;
          flex-direction: column;
        }
        #main .section {
          text-align: center;
        }
        #main .landing-page {
          flex: 1 1 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #main .section.footer {
          flex: 1;
          display: flex;
          align-items: flex-end;
        }
      }
    </style>

    {% if template.name != 'index' %}
      <script>
        window.location.replace('/');
      </script>
    {% endif %}
  </head>

  <body id="main" style="margin: 0;" class="template-{{ template.name }}">
    <div class="section">
      {% sections 'landing-header-group' %}
    </div>

    <div class="landing-page">
      {{ content_for_layout }}
    </div>

    <div class="section footer">
      {% sections 'landing-footer-group' %}
    </div>

    <script type="text/javascript" async src="https://embeds.beehiiv.com/attribution.js"></script>
  </body>
</html>
