<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://use.typekit.net/fod0bmg.css">

    <title>
      Lone Star Trash | Your mum's favourite trash company
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <style>
      .template-merch-drop {
        position: relative;
        background-color: #f3efe7;
      }
      .template-merch-drop:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://cdn.shopify.com/s/files/1/0644/4292/5253/files/texture-scrub_2.png?v=1710819303');
        opacity: 0.01;
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
  </head>

  <body id="main" style="margin: 0;">
    <div class="template-{{ template.suffix }}">
      {% sections 'landing-header-group' %}

      <div class="landing-page">
        {{ content_for_layout }}
      </div>

      {% sections 'landing-footer-group' %}
    </div>
  </body>
</html>
