{%- style -%}
  .landing-feature-text {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    text-align: {{ section.settings.text_alignment }};
    max-width: {{ section.settings.content_width }}px;
    font-family: "halyard-text", "halyard-display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .landing-feature-content {
    font-size: {{ section.settings.font_size }}px;
  }
  .landing-feature-text p {
    margin: 0;
    font-weight: 400;
  }

  @media (max-width: 480px) {
    .landing-feature-text p {
      font-size: 18px;
    }
  }
{%- endstyle -%}
<div class="landing-feature-text">
  <div class="landing-feature-title">
    <h2>{{ section.settings.title }}</h2>
  </div>
  <div class="landing-feature-content">
    {{ section.settings.text }}
  </div>
</div>

{%- schema -%}
{
  "name": "Landing Feature Text",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Text</p>"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "center"
    },
    {
      "type": "range",
      "id": "content_width",
      "label": "Content Width",
      "default": 640,
      "min": 320,
      "max": 1280,
      "step": 16
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size",
      "default": 16,
      "min": 8,
      "max": 60,
      "step": 1
    },{
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 200,
      "step": 4,
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Landing Feature",
      "category": "Landing",
      "settings": {
        "title": "Landing Feature",
        "text": "<p>Text</p>",
        "text_alignment": "center"
      }
    }
  ]
}
{%- endschema -%}
